.Checkbox {
  &-wrapper {
    display: inline-flex;
    align-items: center;
  }
  &-title {
    margin-left: 0.2em;
    &_disabled,
    &:disabled {
      color: #666;
    }
  }
}

input[type='checkbox'].Checkbox {
  // don't show native checkbox
  display: none;
  appearance: none;

  // when component don't disabled
  &:not(:disabled) + label,
  &:not(.Checkbox_disabled) + label {
    background-color: #f3f3f3;
  }

  // when component disabled
  &:disabled + label,
  .Checkbox_disabled {
    background-color: #dddddd;
  }

  &:checked + label::after {
    display: block;
  }

  // checkbox
  & + label {
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;

    &:after {
      content: '';
      display: none;
      position: absolute;
    }
  }
}
