@import './constants';

input[type='checkbox'].Checkbox.Checkbox_variant_checkbox {
  display: none;
  appearance: none;

  &:checked + label::after {
    border-color: $marker-color;
  }

  & + label {
    display: inline-block;
    width: $checkbox-width;
    height: $checkbox-height;
    border: 0.1em solid #555555;
    background-color: #f3f3f3;
    //border-radius: $checkbox-height;
    outline: none;
    cursor: pointer;
    transition: background-color 0.09s ease-in-out;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: $checkbox-marker-width / 2;
      top: $checkbox-marker-height / 2 - $checkbox-marker-height / 2;
      width: $checkbox-marker-height;
      height: $checkbox-marker-width;
      border: solid;
      border-color: scale-color($color: $marker-color, $alpha: -100%);
      border-width: 0 0.1em 0.1em 0;
      transform: rotate(45deg);
      transition: border-color 0.09s ease-in-out;
    }
  }
}
