.Select {
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;

  &-wrapper {
    position: relative;
  }

  &-content {
    position: absolute;
    top: 40px;
    align-items: center;
    list-style: none;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    background-color: #f2f2f2;
    border: 1px solid #808080;
    border-radius: 0px 0px 4px 4px;
  }

  &-option {
    height: 32px;
    border-radius: 4px;
  }

  &_required {
    border: 2px solid black;
  }

  &_optional {
    border: 1px solid grey;
  }

  &_disabled {
    border: 1px solid black;
    background-color: #d0d0d0;
  }

  & + li {
    height: 35px;
    border: 1px solid #aaaaaa;
  }
}
