  /* Primary */
  $primary-50: #FFFBF2;
  $primary-100: #FDF1D4;
  $primary-200: #F9DFA5;
  $primary-300: #F6CF79;
  $primary-400: #F2C04F;
  $primary-500: #EDAC1A;
  $primary-600: #D29514;
  $primary-700: #B67C0D;
  $primary-800: #9C6507;
  $primary-900: #804D00;

  /* Secondary */
  $secondary-50: #F5FBFF;
  $secondary-100: #DFEAF5;
  $secondary-200: #C1D3E5;
  $secondary-300: #8FADCC;
  $secondary-400: #688BAD;
  $secondary-500: #406080;
  $secondary-600: #345373;
  $secondary-700: #243F5A;
  $secondary-800: #17324D;
  $secondary-900: #051C33;

  /* Actions */
  $actions-error: #FF0C3E;
  $actions-success: #00C241;
  $actions-warning: #FFCE0C;

  /* Editing */
  $editing-100: #D9F5FF;
  $editing-200: #B2EAFF;
  $editing-300: #7BDCFF;
  $editing-400: #42CDFF;
  $editing-500: #0ABEFF;
  $editing-600: #05ACF0;
  $editing-700: #0099E0;
  $editing-800: #007EC7;
  $editing-900: #006BB2;

  /* Palette */
  $palette-01: #D12734;
  $palette-02: #00B23C;
  $palette-03: #05ACF0;
  $palette-04: #850CFF;
  $palette-05: #FEC2FF;

